@model  AspStudentPortal.Models.SchoolBranch

@{
    ViewBag.Title = "BranchSchoolByCourses";
    Layout = "~/Views/Shared/_layout2.cshtml";
}
    
<div class="container" style="padding : 80px 0 ; margin-left : 20% ; width : 450px " >
    <table border="1" class="table">

        <tr class="thead-light" style="background-color: antiquewhite">
            
            <th colspan="3" >@Html.DisplayFor(modelItem => Model.name)</th>

        </tr>
        <tr class="thead">
            <th>name course</th>
            <th>coef</th>
        </tr>

        @{

            AspStudentPortal.Models.ApplicationDbContext db = new AspStudentPortal.Models.ApplicationDbContext();
            List<AspStudentPortal.Models.Course> list = db.courses.ToList();
            List<AspStudentPortal.Models.Instructor> instructors = db.instructors.ToList();
            foreach (var course in list)
            {
                foreach (var coursebranch in Model.courses)
                {
                    if (coursebranch.id == course.id)
                    {
                        <tr>

                            <td>   @Html.DisplayFor(modelItem => coursebranch.CourseName)</td>
                            <td>   @Html.DisplayFor(modelItem => coursebranch.coef)</td>

                        </tr>


                    }

                }
            }

        }







    </table>
    </div>
